@charset "UTF-8";

main {
    background-color: #F7F7F7;
    box-shadow: 0px 0px 10px black;
    border-radius: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;

    min-height: 150px;
    max-height: 516px;

    min-width: 300px;
    max-width: 600px;

    position: relative;
    margin: auto;
    margin-top: 191px;

}

main h1 {
    background-color: #F7F7F7;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: #0A6D72;

    font-family: sans-serif;
    font-size: 2.8em;

    min-width: 258px;
    max-width: 1000px;
    padding-top: 20px;

    border-radius: 10px;
}

.linha-horizontal {
    width: 100%; /* Largura da linha */
    height: 2px; /* Altura da linha */
    background-color: #0A6D72; /* Cor da linha */
    background: linear-gradient(to right, transparent 12%, #0A6D72 53%, #0A6D72 -91%, transparent 91%);
}
      
  
  





form > div {
    font-family: sans-serif;
    color: #0A6D72;
    font-weight: bold;
    text-align: left;
    
}



form {
    margin: auto;
    text-align: center;
    padding: 30px;
}



form > in > input {
    color: rgb(255, 255, 255);
    background-color: #3B9EB2;

    margin-top: 1px;
    border-radius: 6px;
    border: none;
    position: relative;

    font-size: 1.2em;


    height: 38px;
    min-width: 253px;
    max-width:1000px
}

input {
  
    
  background: #fff;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  margin-bottom: 4px;
}




footer {
    background-color: #E0EAEB;
    margin: auto;
    padding: 0.5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

footer > p {
    font-family: sans-serif;
    text-align: right;
    color: #71777ab9;
    font-weight: bold;
    padding-right: 30px;
    font-size:16px;
}

footer > p > a {
    color: #70c9be;
    text-decoration: none;
    margin-left: 9px;
}






.input100 {
    color: rgb(63, 64, 80);
    line-height: 0.2;
    font-size: 16px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 34px;
    padding-left: 7px;

    border-style: solid;
    border-color: #183a3b4b;
}

::placeholder {
    color: rgba(10, 0, 0, 0.274);
    font-style: italic;
    font-size: 15px;
}